doctype html
html(lang='es')
head
    meta(charset='utf-8')
    link(rel='stylesheet', href='./css/style.css')
    title chat con SocketIo de Node
body
    block content
    script(src="http://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")        
    script(src='/socket.io/socket.io.js')    
    script(src='/js/codigo.js')
